OGADE_20260414071848/Microsoft.Flow/flows/c8600808-2b0d-4366-a734-b5de9364e1bf/definition.json
{"name":"252c57a4-c3b7-44d8-bee7-850aaf31388d","id":"/providers/Microsoft.Flow/flows/252c57a4-c3b7-44d8-bee7-850aaf31388d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Réception","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"31335198-2076-4885-a13d-a38c1a27271d","type":"User","tenantId":"e242425b-70fc-44dc-9ddf-c21e304e6c80"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-23T12:10:29.5309747Z","connectionKeySavedTimeKey":"2026-03-18T00:02:00.719142Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"f54493f3-0bce-48c8-b019-bb29c25f08af"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Titre","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"number":{"title":"ID","type":"number","x-ms-dynamically-added":true,"description":"Entrez un nombre","x-ms-content-hint":"NUMBER"},"date":{"title":"Date récéption","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Entrez ou sélectionnez une date (YYYY-MM-JJ)","x-ms-content-hint":"DATE"},"text_1":{"title":"Nom","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_2":{"title":"Localisation ","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_3":{"title":"Localisation Entreprise","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_4":{"title":"Remarques","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"}},"required":["text","number","date","text_1","text_2","text_3","text_4"]}}}},"actions":{"Obtenir_l’élément":{"runAfter":{},"metadata":{"operationMetadataId":"e3862639-e43c-4b95-ab86-d0bb4dd7830c"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Mettre_à_jour_l'élément":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"metadata":{"operationMetadataId":"da1769e2-d533-4433-ad48-288fef599979"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']","item/Title":"@triggerBody()['text']","item/Localisation/Value":"@triggerBody()['text_2']","item/Localisation_x003a_Entreprise/Value":"@triggerBody()['text_3']","item/Historique":"• @{triggerBody()['date']} : Réception de la maquette à @{triggerBody()['text_2']} par @{triggerBody()['text_1']}. Remarques : @{triggerBody()['text_4']}\n\n@{outputs('Obtenir_l’élément')?['body/Historique']}","item/Entransit/Value":"NON"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Répondre_à_une_instance_PowerApp_ou_à_un_flux":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"metadata":{"operationMetadataId":"e419e2db-f34e-4ba4-84dc-14cf3842406f"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"résultat":{"title":"Résultat","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"résultat":"OK"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"5c5d20f3323841c4846b4af54a482914","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}