OGADE_20260414071848/Microsoft.Flow/flows/ed09a532-ecc7-4b0f-abdf-aea112e923db/definition.json
{"name":"6180202c-10fc-4dce-b567-7fafde0cb352","id":"/providers/Microsoft.Flow/flows/6180202c-10fc-4dce-b567-7fafde0cb352","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Envoie maquette","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"31335198-2076-4885-a13d-a38c1a27271d","type":"User","tenantId":"e242425b-70fc-44dc-9ddf-c21e304e6c80"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-23T12:11:25.2887743Z","connectionKeySavedTimeKey":"2026-03-12T13:17:06.5839286Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"2309f20a-7173-4a4f-a18d-dddee76d83ec"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"title":"ID","type":"number","x-ms-dynamically-added":true,"description":"Entrez un nombre","x-ms-content-hint":"NUMBER"},"text":{"title":"Titre","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_1":{"title":"Localisation","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_2":{"title":"Envoyeur","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_3":{"title":"Localisation Entreprise ","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"date":{"title":"Date d'envoi","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Entrez ou sélectionnez une date (YYYY-MM-JJ)","x-ms-content-hint":"DATE"},"text_4":{"title":"Motif","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"}},"required":["number","text","text_1","text_2","text_3","date","text_4"]}}}},"actions":{"Mettre_à_jour_l'élément":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"metadata":{"operationMetadataId":"5fa2c605-979c-4183-9965-1d8d455dff65"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']","item/Title":"@triggerBody()['text']","item/Localisation/Value":"@triggerBody()['text_1']","item/Localisation_x003a_Entreprise/Value":"@triggerBody()['text_3']","item/Historique":"• Le @{triggerBody()['date']}, la maquette a été envoyée à @{triggerBody()['text_3']}, à @{triggerBody()['text_1']}. Personne ayant réalisé l'envoie : @{triggerBody()['text_2']}. Motif : @{triggerBody()['text_4']}\n\n@{outputs('Obtenir_l’élément')?['body/Historique']}","item/Entransit/Value":"OUI"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Répondre_à_une_instance_PowerApp_ou_à_un_flux":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"metadata":{"operationMetadataId":"a7409daf-a135-4aaf-b8c8-f6192ffda8de"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"resultat":{"title":"Resultat","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"resultat":"OK"}}},"Obtenir_l’élément":{"runAfter":{},"metadata":{"operationMetadataId":"454eb610-e337-4baf-aff0-0642efa0a07b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"5c5d20f3323841c4846b4af54a482914","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}