OGADE_20260414071848/Microsoft.Flow/flows/775348b0-544b-494a-8b51-7d3a71e55496/definition.json
{"name":"5dce98b2-27c3-4509-9e7c-1b825c203e36","id":"/providers/Microsoft.Flow/flows/5dce98b2-27c3-4509-9e7c-1b825c203e36","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Retour emprunt","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"31335198-2076-4885-a13d-a38c1a27271d","type":"User","tenantId":"e242425b-70fc-44dc-9ddf-c21e304e6c80"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-23T12:09:34.8510153Z","connectionKeySavedTimeKey":"2026-03-17T18:17:01.2042493Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"65942ef5-0625-49b3-a9c1-33915ba973c1"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"number":{"title":"ID","type":"number","x-ms-dynamically-added":true,"description":"Entrez un nombre","x-ms-content-hint":"NUMBER"},"text":{"title":"Titre","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"date":{"title":"retour","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Entrez ou sélectionnez une date (YYYY-MM-JJ)","x-ms-content-hint":"DATE"},"text_1":{"title":"retour personne","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_2":{"title":"Compléments","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"}},"required":["number","text","date","text_1","text_2"]}}}},"actions":{"Mettre_à_jour_l'élément":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"metadata":{"operationMetadataId":"0e6ba3b1-055e-4591-9d85-b3f919cc0c00"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']","item/Title":"@triggerBody()['text']","item/Viedelamaquette":"• La maquette à été rendu le @{triggerBody()['date']} par @{triggerBody()['text_1']}. Compléments : @{triggerBody()['text_2']}.\n\n@{outputs('Obtenir_l’élément')?['body/Viedelamaquette']}","item/Datedemprunt":"@null","item/Datederetourestim_x00e9_e":"@null","item/Statut/Value":"Disponible","item/Emprunteur/Claims":"@null"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Répondre_à_une_instance_PowerApp_ou_à_un_flux":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"metadata":{"operationMetadataId":"8950a7a8-e7d6-4470-8b78-d75190863c3a"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"resultat":{"title":"Resultat","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"resultat":"OK"}}},"Obtenir_l’élément":{"runAfter":{},"metadata":{"operationMetadataId":"83a50b36-237d-4d00-bb14-31b68429b06b"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"5c5d20f3323841c4846b4af54a482914","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}