OGADE_20260414071848/Microsoft.Flow/flows/89f2dd5e-4bb3-4d0d-8cba-10b5167eba0d/definition.json
{"name":"796a8855-9faa-4837-b544-6bc608cfae57","id":"/providers/Microsoft.Flow/flows/796a8855-9faa-4837-b544-6bc608cfae57","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Essai maquette","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"31335198-2076-4885-a13d-a38c1a27271d","type":"User","tenantId":"e242425b-70fc-44dc-9ddf-c21e304e6c80"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-07-23T12:10:07.1532507Z","connectionKeySavedTimeKey":"2026-03-18T16:03:00.9586922Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"02a31af6-c446-406f-b320-888609fef173"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"text":{"title":"Type d'essai","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_1":{"title":"END","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_2":{"title":"ED","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_3":{"title":"Nom","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_5":{"title":"Description ","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"date":{"title":"Date essai","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Entrez ou sélectionnez une date (YYYY-MM-JJ)","x-ms-content-hint":"DATE"},"number":{"title":"ID","type":"number","x-ms-dynamically-added":true,"description":"Entrez un nombre","x-ms-content-hint":"NUMBER"},"text_6":{"title":"Titre","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"date_1":{"title":"Date retour","type":"string","format":"date","x-ms-dynamically-added":true,"description":"Entrez ou sélectionnez une date (YYYY-MM-JJ)","x-ms-content-hint":"DATE"},"text_4":{"title":"Disponibilité","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"},"text_7":{"title":"Entreprise","type":"string","x-ms-dynamically-added":true,"description":"Tapez votre entrée","x-ms-content-hint":"TEXT"}},"required":["text","text_1","text_2","text_3","text_5","date","number","text_6","date_1","text_4","text_7"]}}}},"actions":{"Mettre_à_jour_l'élément":{"runAfter":{"Obtenir_l’élément":["Succeeded"]},"metadata":{"operationMetadataId":"03345808-92b9-4f41-91cf-6b595b819287"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']","item/Title":"@triggerBody()['text_6']","item/Viedelamaquette":"• Du @{triggerBody()['date']} au @{triggerBody()['date_1']}, la maquette a été réservée par @{triggerBody()['text_3']} pour @{triggerBody()['text_7']}. La maquette a subit un @{triggerBody()['text']} de type : @{triggerBody()['text_1']}@{triggerBody()['text_2']}. Complément d'information : @{triggerBody()['text_5']}.\n\n@{outputs('Obtenir_l’élément')?['body/Viedelamaquette']}\n","item/Datedemprunt":"@triggerBody()['date']","item/Datederetourestim_x00e9_e":"@triggerBody()['date_1']","item/Statut/Value":"@triggerBody()['text_4']","item/Emprunteur/Claims":"@triggerBody()['text_3']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Obtenir_l’élément":{"runAfter":{},"metadata":{"operationMetadataId":"b3df4bd8-eed9-488d-9eb0-910d2322bb0a"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://edfonline.sharepoint.com/sites/DISC-DSC-DQI-MAQUETTES","table":"e32559d8-799a-4117-9f05-a18da7086b55","id":"@triggerBody()['number']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Répondre_à_une_instance_PowerApp_ou_à_un_flux":{"runAfter":{"Mettre_à_jour_l'élément":["Succeeded"]},"metadata":{"operationMetadataId":"63bdf824-b4fe-436e-b7df-f3f3f89e03cd"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"résultat":{"title":"Résultat","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"résultat":"OK"}}}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"5c5d20f3323841c4846b4af54a482914","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}